@tailwind base;
@tailwind components;

/* Custom stuff */

.app {
  padding: 10px 5px;
}

.face {
  background-color: white;
}

.face img {
  width: 100%;
  height: auto;
}

.face:hover {
  cursor: pointer;
}

.face:hover p {
  color: coral;
}

.name { 
  text-align: center;
  font-size: 0.8em;
}

.flipped {
  opacity: 0.13;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  font-family: inherit;
  text-align: center;
  background-color: beige;
  color: coral;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  transition: background 250ms ease-in-out, 
  transform 150ms ease;
  appearance: none;
}
button:hover,
button:focus {
  background-color: coral;
  color: white;
  cursor: pointer;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

@tailwind utilities;